<div data-controller="demo">
  <input type="text" data-demo-target="content">
  <button data-action="click->demo#pushme">按我</button>
  <span data-demo-target="output">
  </span>
</div>

<div data-controller="demo">
  <input type="text" data-demo-target="content">
  <button data-action="click->demo#pushit">按它</button>
  <span data-demo-target="output">
  </span>
</div>